---
// Archivo: index.astro
import Layout from "../../../layouts/Layout.astro";
import CardLiquidacion from "../../../components/CardLiquidacion.astro";
import { servidores } from "../../../data/productosData.ts";
---

<Layout title="Servidor - Grupo Nec">
  <section class="bg-[#fff] my-8">
    <div class="w-full flex flex-col">
      <div class="w-full flex justify-center lg:mt-8 lg:mb-6 mb-4">
        <h2 class="w-[90%] lg:text-3xl text-2xl border-b-2 text-[#192855] border-[#192855]">Servidor</h2>
      </div>
      <div class="flex w-full justify-center">
        <div class="grid grid-cols-2 lg:grid-cols-5 gap-3 lg:w-[90%] w-[98%] items-center justify-center">
          {servidores.map((servidoresItem) => (
            <CardLiquidacion 
              imgSrc={servidoresItem.imgSrc}
              title={servidoresItem.title}
              descriptions={servidoresItem.descriptions}
              precio={servidoresItem.precio}
              whatsappLink={servidoresItem.whatsappLink}
            />
          ))}
        </div>
      </div>
    </div>
  </section>
</Layout>
