---
import Layout from "../../layouts/Layout.astro";

import esSalud from "../../assets/Clientes/essalud.png"
---

<Layout title="Clientes">
    <section class="bg-[#fff] w-full h-full flex justify-center">
        <div class="w-[90%] bg-[#fff] grid lg:grid-cols-5 grid-cols-3 gap-2 py-2">
            <img src={esSalud.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={esSalud.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={esSalud.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={esSalud.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={esSalud.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={esSalud.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={esSalud.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={esSalud.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={esSalud.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={esSalud.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={esSalud.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={esSalud.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={esSalud.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={esSalud.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={esSalud.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={esSalud.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={esSalud.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={esSalud.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={esSalud.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={esSalud.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={esSalud.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={esSalud.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={esSalud.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={esSalud.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={esSalud.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={esSalud.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={esSalud.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
        </div>
    </section>
</Layout>