---
import Layout from "../../layouts/Layout.astro";
import iconCir from "../../assets/iconos/iconCIR.svg";
import iconX from "../../assets/iconos/iconX.svg";
import iconTRI from "../../assets/iconos/iconTRI.svg";
import iconPIRA from "../../assets/iconos/iconPIRA.svg";
import iconNODO from "../../assets/iconos/iconNODO.svg";
import iconCUAD from "../../assets/iconos/iconCUAD.svg";

// Importar imágenes de clientes
import clinicaI from "../../assets/Clientes/clinicaInternacional.png";
import bbva from "../../assets/Clientes/bbva.png";
import plusPetrol from "../../assets/Clientes/pluspetrol.png";
import sanPablo from "../../assets/Clientes/clinicaSP.png";
import essalud from "../../assets/Clientes/essalud.png";
import universidadNW from "../../assets/Clientes/uNorbertWiener.png";
import inpe from "../../assets/Clientes/inpe.png";
import inabif from "../../assets/Clientes/inabif.png";
import ibm from "../../assets/Clientes/ibm.png";
import pnp from "../../assets/Clientes/dirincri.png";
import universidadSMP from "../../assets/Clientes/usmp.png";
import miningS from "../../assets/Clientes/miningSolution.png";
import granhaM from "../../assets/Clientes/granhaMontero.png";
import auna from "../../assets/Clientes/auna.png";
import ferrocarrilCA from "../../assets/Clientes/ferrocarrilCA.png";
import ministerioTC from "../../assets/Clientes/ministerioTC.png";
import mineraA from "../../assets/Clientes/mineraAres.png";
import minsa from "../../assets/Clientes/minsa.png";
import muniComas from "../../assets/Clientes/municipalidadComas.png";
import muniAsia from "../../assets/Clientes/municipalidadAsia.png";
import muniLima from "../../assets/Clientes/municipalidadLima.png";

const clientesLogo = [
    { imagen: clinicaI, nombre: "Clinica Internacional" },
    { imagen: bbva, nombre: "BBVA" },
    { imagen: plusPetrol, nombre: "Plus Petrol" },
    { imagen: sanPablo, nombre: "Clinica San Pablo" },
    { imagen: essalud, nombre: "ESSALUD" },
    { imagen: universidadNW, nombre: "Universidad Norbert Wiener" },
    { imagen: inpe, nombre: "INPE" },
    { imagen: inabif, nombre: "INABIF" },
    { imagen: ibm, nombre: "IBM" },
    { imagen: pnp, nombre: "PNP" },
    { imagen: universidadSMP, nombre: "Universidad San Martin de Porres" },
    { imagen: miningS, nombre: "Mining Solutions" },
    { imagen: granhaM, nombre: "Graña Montero" },
    { imagen: auna, nombre: "AUNA" },
    { imagen: ferrocarrilCA, nombre: "Ferrocarril Central Andino" },
    { imagen: ministerioTC, nombre: "Ministerio de Transportes y Comunicaciones" },
    { imagen: mineraA, nombre: "Compañia Minera Ares" },
    { imagen: minsa, nombre: "MINSA" },
    { imagen: muniComas, nombre: "Municipalidad de Comas" },
    { imagen: muniAsia, nombre: "Municipalidad de Asia" },
    { imagen: muniLima, nombre: "Municipalidad de Lima" },
];
---
<Layout title="Clientes">
    <section class="bg-[#fff] w-full h-full flex justify-center items-center flex-col lg:py-12 py-6 relative overflow-hidden">
        <!-- Íconos decorativos -->
        <div class="lg:block hidden w-full h-full absolute">
            <img src={iconCir.src} alt="" class="top-96 left-4 absolute">
            <img src={iconX.src} alt="" class="bottom-96 left-4 absolute">
            <img src={iconTRI.src} alt="" class="top-96 right-4 absolute">
            <img src={iconPIRA.src} alt="" class="bottom-96 right-4 absolute">
            <img src={iconCUAD.src} alt="" class="bottom-6 right-12 absolute">
            <img src={iconNODO.src} alt="" class="bottom-6 left-12 absolute">
        </div>
        <div class="w-full lg:text-5xl 2xl:text-6xl text-3xl flex justify-center">
            <h3 class="text-[#192855] lg:w-[40%] w-[80%] text-center border-b border-[#192855]">Clientes Potenciales</h3>
        </div>
        <div class="w-[90%] grid lg:grid-cols-5 grid-cols-3 gap-2 lg:py-10 py-5">
            {clientesLogo.map((cliente) => (
                <img 
                    src={cliente.imagen.src} 
                    alt={cliente.nombre} 
                    class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"
                />
            ))}
        </div>
    </section>
</Layout>