---
import Layout from "../../layouts/Layout.astro";
import iconCir from "../../assets/iconos/iconCIR.svg";
import iconX from "../../assets/iconos/iconX.svg";
import iconTRI from "../../assets/iconos/iconTRI.svg";
import iconPIRA from "../../assets/iconos/iconPIRA.svg";
import iconNODO from "../../assets/iconos/iconNODO.svg";
import iconCUAD from "../../assets/iconos/iconCUAD.svg";


import clinicaI from "../../assets/Clientes/clinicaInternacional.png";
import bbva from "../../assets/Clientes/bbva.png";
import plusPetrol from "../../assets/Clientes/pluspetrol.png";
import sanPablo from "../../assets/Clientes/clinicaSP.png";
import essalud from "../../assets/Clientes/essalud.png";
import universidadNW from "../../assets/Clientes/uNorbertWiener.png";
import inpe from "../../assets/Clientes/inpe.png";
import inabif from "../../assets/Clientes/inabif.png";
import ibm from "../../assets/Clientes/ibm.png";
import pnp from "../../assets/Clientes/dirincri.png";
import universidadSMP from "../../assets/Clientes/usmp.png";
import miningS from "../../assets/Clientes/miningSolution.png";
import granhaM from "../../assets/Clientes/granhaMontero.png";
import auna from "../../assets/Clientes/auna.png";
import ferrocarrilCA from "../../assets/Clientes/ferrocarrilCA.png";
import ministerioTC from "../../assets/Clientes/ministerioTC.png";
import mineraA from "../../assets/Clientes/mineraAres.png";
import minsa from "../../assets/Clientes/minsa.png";
import muniComas from "../../assets/Clientes/municipalidadComas.png";
import muniAsia from "../../assets/Clientes/municipalidadAsia.png";
import muniLima from "../../assets/Clientes/municipalidadLima.png";
---

<Layout title="Clientes">
    <section class="bg-[#fff] w-full h-full flex justify-center items-center flex-col py-12 relative overflow-hidden">
        <div class="lg:block hidden w-full h-full absolute">
            <img src={iconCir.src} alt="" class="top-96 left-4 absolute">
            <img src={iconX.src} alt="" class="bottom-96 left-4 absolute">
            <img src={iconTRI.src} alt="" class="top-96 right-4 absolute">
            <img src={iconPIRA.src} alt="" class="bottom-96 right-4 absolute">
            <img src={iconCUAD.src} alt="" class="bottom-6 right-12 absolute">
            <img src={iconNODO.src} alt="" class="bottom-6 left-12 absolute">
        </div>
        <div class="w-[90%] lg:text-3xl text-lg bg-[#192855] lg:p-4 p-2 text-[#fff] rounded">
            <h3>La confianza de nuestros clientes es el respaldo de nuestras soluciones</h3>
        </div>
        <div class="w-[90%] grid lg:grid-cols-5 grid-cols-3 gap-2 py-10">
            <img src={clinicaI.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={bbva.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={plusPetrol.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={sanPablo.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={essalud.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={universidadNW.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={inpe.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={inabif.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={ibm.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={pnp.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={universidadSMP.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={miningS.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={granhaM.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={auna.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={ferrocarrilCA.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={ministerioTC.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={mineraA.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={minsa.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={muniComas.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={muniAsia.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
            <img src={muniLima.src} alt="HP" class="border hover:shadow-2xl rounded-lg lg:grayscale grayscale-0 lg:hover:grayscale-0"/>
        </div>
    </section>
</Layout>