---
import Layout from "../../layouts/Layout.astro";
import CardLiquidacion from "../../components/CardLiquidacion.astro";

import camDomo from "../../assets/PLiquidacion/camaradahua.png";

import servidorOnce from "../../assets/PLiquidacion/servidorgenONCE.png";
import servidorOCHO from "../../assets/PLiquidacion/servidorgenOCHO.png";

import imporesoraLaserHP from "../../assets/PLiquidacion/impresoralaserhp.png";

import aioLenovo from "../../assets/PLiquidacion/aioLenovo.png";
import cpuDellOpt from "../../assets/PLiquidacion/cpuDellOpti.png";
import deskCinco from "../../assets/PLiquidacion/desktopHPicinco.png";
import deskSiete from "../../assets/PLiquidacion/desktopHPisiete.png";
import proDesk from "../../assets/PLiquidacion/proDeskHP.png";
import workstation from "../../assets/PLiquidacion/workstationHP.png";
import monitorHP from "../../assets/PLiquidacion/monitorHP.png";

import macbook from "../../assets/PLiquidacion/macbook.png";
import inspiron from "../../assets/PLiquidacion/laptop3505.png";
import laptopdy from "../../assets/PLiquidacion/laptopdy5010la.png";
import workstationLenovo from "../../assets/PLiquidacion/workstationLenovo.png";
import furydos from "../../assets/PLiquidacion/zbookFury32.png";
import furyseis from "../../assets/PLiquidacion/zbookFury16.png";
import proBook from "../../assets/PLiquidacion/proBook.png";
import latitudeDell from "../../assets/PLiquidacion/latitudeDell.png";

import swDLink from "../../assets/PLiquidacion/swDLink.png";
import sw48fpsl from "../../assets/PLiquidacion/C2960X-48FPS-L.png";
import sw48tsl from "../../assets/PLiquidacion/C2960S-48TS-L.png";
import sw48fpdl from "../../assets/PLiquidacion/C2960X-48FPD-L.png";
import sw24pdl from "../../assets/PLiquidacion/C2960X-24PD-L.png";
import sw24psl from "../../assets/PLiquidacion/C2960X-24PS-L.png";
import sw24t4ge from "../../assets/PLiquidacion/C9200L-24T-4G-E.png";
import sw24p4l from "../../assets/PLiquidacion/C9300L-24P-4L.png";
import sw48pa from "../../assets/PLiquidacion/C9300-48P-A.png";

import repEquipos from "../../assets/Soluciones/reparacionEquipos.png";
import cableadoRed from "../../assets/Soluciones/cableadoRed.png";
import licSoftware from "../../assets/Soluciones/licenciaSoftware.png";
import installCam from "../../assets/Soluciones/instCamaras.png";
import seguridadInfo from "../../assets/Soluciones/seguridadInf.png";

const switches = [
  {
    imgSrc: swDLink.src,
    title: "SMARTPRO DGS-1510",
    descriptions: ["Administrable", "Puertos 24 x 10/100/1000 MBPS", "Rendimiento 92 GBPS", "Soporte VLAN 4,000"],
    precio: "S/ 1 800",
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Reparación%20de%20Equipos"
  },
  {
    imgSrc: sw24t4ge.src,
    title: "WS-C9200L-24T-4G-E",
    descriptions: ["24 puertos", "10/100/1000 (PoE+)", "Puerto Gigabit SFP", "512MB RAM"],
    precio: "S/ 3 500",
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Cableado%20de%20Red"
  },
  {
    imgSrc: sw48pa.src,
    title: "WS-C9300-48P-A",
    descriptions: ["48 POE+ puertos", "Rutas IPv4: 32,000", "Ancho de banda 480 Gb/s", "Potencia PoE 437W"],
    precio: "S/ 18 990",
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Licencia%20de%20Software"
  },
  {
    imgSrc: sw24p4l.src,
    title: "WS-C9300L-24P-4G",
    descriptions: ["Ancho de Banda 320 Gbps", "Direcciones MAC 32.000", "Entradas de enrutamiento IPv6 16.000"],
    precio: "S/ 4 800",
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%Instalación%20de%20Cámaras"
  },
  {
    imgSrc: sw24pdl.src,
    title: "WS-C2960X-24PD-L",
    descriptions: ["24 puertos", "Compatibilidad (PoE +) hasta 740W", "LAN Base o LAN Lite Cisco IOS"],
    precio: "S/ 6 800",
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Servicio%20de%20Servidores"
  },
  {
    imgSrc: sw24psl.src,
    title: "WS-C2960X-24PS-L",
    descriptions: ["24 puertos", "10/100/1000 (PoE+)", "Puerto Gigabit SFP", "512MB RAM"],
    precio: "S/ 3 500",
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Seguridad%20de%20la%20Información"
  },
  {
    imgSrc: sw48fpdl.src,
    title: "WS-C2960X-48FPD-L",
    descriptions: ["48 puertos", "740 W", "512MB RAM", "216 Gbps Ancho de Banda"],
    precio: "S/ 8 300",
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Servicio%20de%20Servidores"
  },
  {
    imgSrc: sw48fpsl.src,
    title: "WS-C2960X-48FPS-L",
    descriptions: ["4 puertos SFP de 1G", "48 puertos Gigabit Ethernet 10/100/1000", "740W", "512MB RAM"],
    precio: "S/ 11 600",
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Servicio%20de%20Servidores"
  },
  {
    imgSrc: sw48tsl.src,
    title: "WS-C2960S-48TS-L",
    descriptions: ["4 conectores SFP", "48 puertos Gigabit Ethernet 10/100/1000", "176 Gbps", "41,7 Mpps"],
    precio: "S/ 11 200",
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Servicio%20de%20Servidores"
  }
];

const laptops = [
  {
    imgSrc: laptopdy.src,
    title: "15-dy5010la",
    descriptions: ["Intel Core i7", "512GB SSD", 'Pantalla 15.6"', "Gráficos Intel Iris", "12GB RAM"],
    precio: "S/ 2 900",
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Reparación%20de%20Equipos"
  },
  {
    imgSrc: inspiron.src,
    title: "Inspiron 3505",
    descriptions: ["AMD Ryzen 5 3450U", "8GB RAM DDR4", "256GB SSD", "LED HD (1366x768)", "Gráficos AMD Radeon Vega 8"],
    precio: "S/ 1 900",
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Cableado%20de%20Red"
  },
  {
    imgSrc: macbook.src,
    title: 'Retina 12" i5',
    descriptions: ["8GB SDRAM LPDDR3", "512GB SSD", "Intel Graphics 615", "Sistema macOS preinstalado"],
    precio: "S/ 3 500",
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Licencia%20de%20Software"
  },
  {
    imgSrc: workstationLenovo.src,
    title: "Thinkpad P72",
    descriptions: ["64GB RAM DDR4", "NVIDIA Quadro P5200 16 GB GDDR5", "2TB SSD", '4K UHD 17,3"'],
    precio: "S/ 12 800",
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%Instalación%20de%20Cámaras"
  },
  {
    imgSrc: furydos.src,
    title: "Zbook Fury 15",
    descriptions: ["32GB RAM DDR4", "Intel Core i7-11800H", "1TB SSD", '15,6" FHD (1920x1080)', "NVIDIA RTX A2000 4 GB"],
    precio: "S/ 4 800",
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Servicio%20de%20Servidores"
  },
  {
    imgSrc: furyseis.src,
    title: "HP ZBook Fury 15",
    descriptions: ["16GB RAM DDR4", "Intel Core i7-11800H", "1TB SSD", '15,6" FHD (1920x1080)', "NVIDIA RTX A2000 4 GB"],
    precio: "S/ 4 400",
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Seguridad%20de%20la%20Información"
  },
  {
    imgSrc: proBook.src,
    title: 'ProBook 440',
    descriptions: ["Intel Core i7-1355U", "16GB DDR4-3200MHz", 'LCD de 14”', "Gráficos Intel UHD"],
    precio: "S/ 2 985",
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Servicio%20de%20Servidores"
  },
  {
    imgSrc: latitudeDell.src,
    title: "Latitude 5430 P137G",
    descriptions: ["Intel Core i7-1245", "1TB SSD", 'Pantalla LCD IPS 14,0"', "Gráficos Integrados Intel Iris Xe"],
    precio: "S/ 4 800",
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Servicio%20de%20Servidores"
  }
];

const impresoras = [
  {
    imgSrc: imporesoraLaserHP.src,
    title: "Enterprise M751DN",
    descriptions: ["Color A3 40PPM", "40 000 páginas mensuales", "Calidad de impresión 1200 x 1200 dpi", "1.5 GB memoria"],
    precio: "S/ 12 558",
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Reparación%20de%20Equipos"
  }
];

const camaras = [
  {
    imgSrc: camDomo.src,
    title: "PTZ DH-SD6CE230UN-HNI",
    descriptions: ["Zoom óptico 30x", "2MP STARVIS™ CMOS", "Starlight, 50/60fps @1080P", "IR hasta 200m", "Soporta PoE+"],
    precio: "S/ 2 100",
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Reparación%20de%20Equipos"
  }
];

const computadoras = [
  {
    imgSrc: aioLenovo.src,
    title: "All in One",
    descriptions: ["Intel i3-10100T", "4GB RAM", "HDD 1TB/SSD 128GB", 'Pantalla 23.8" LED Panel'],
    precio: "S/ 1 490",
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Reparación%20de%20Equipos"
  },
  {
    imgSrc: cpuDellOpt.src,
    title: "Optiplex 5090",
    descriptions: ["Intel I7-10700", "4,6 GHz", "16 GB RAM", "Intel UHD Graphics 630 "],
    precio: "S/ 2 800",
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Cableado%20de%20Red"
  },
  {
    imgSrc: deskCinco.src,
    title: 'Pro Desktop 400 G9 SFF i5',
    descriptions: ["Intel i5-12500 3.00GHz", "8GB DDR4-3200 MHz", "512GB SSD", "180W"],
    precio: "S/ 2 500",
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Licencia%20de%20Software"
  },
  {
    imgSrc: deskSiete.src,
    title: "Pro Desktop 400 G9 i7",
    descriptions: ["Intel i7", "13va Gen", "16GB RAM DDR4-3200 MHz", "512 GB SSD"],
    precio: "S/ 3 200",
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%Instalación%20de%20Cámaras"
  },
  {
    imgSrc: proDesk.src,
    title: "Pro Desktop 600 G4 i7",
    descriptions: ["Intel i7-8700", "8GB RAM DRR4", "Gráficos Integrados Intel UHD 630", "1TB SSD"],
    precio: "S/ 2 900",
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Servicio%20de%20Servidores"
  },
  {
    imgSrc: workstation.src,
    title: "Z6 G4 Tower WorkStation",
    descriptions: ["Intel Xeon Gold 6130", "Chasis en torre", "16GB RAM DDR4-2666", "512GB SSD"],
    precio: "S/ 13 500",
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Seguridad%20de%20la%20Información"
  },
  {
    imgSrc: monitorHP.src,
    title: 'E22 G4 FHD',
    descriptions: ['Pantalla 21,5"', "FHD (1920 x 1080)", "Voltaje de entrada 100 a 240 VCA"],
    precio: "S/ 790",
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Servicio%20de%20Servidores"
  }
];

const servidores = [
  {
    imgSrc: servidorOnce.src,
    title: "ProLiant DL360",
    descriptions: ["Servidor Gen 11 4410Y 32GB DDR5", "Kit de teclado/ratón HP", "Fuente de poder HP 8000W", "Disco Duro SAS DE 1.2TB"],
    precio: "S/ 11 600",
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Reparación%20de%20Equipos"
  },
  {
    imgSrc: servidorOCHO.src,
    title: "ProLiant DL360E",
    descriptions: ["Servidor Gen 8","Procesador Intel Xeon", "4GB RAM", "Soporta cuatro discos", "Soporta hasta 2 procesadores"],
    precio: "S/ 3 800",
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Reparación%20de%20Equipos"
  }
];
---

<Layout title="Prod. Equipos Computo">
    <section id="liquidacion" class="w-full my-12">
      <div class="w-full flex flex-col">
        <div class="w-full flex justify-center mt-8 mb-6">
          <h2 class="w-[90%] lg:text-2xl text-lg border-b-2">Switches</h2>
        </div>
        <div class="flex w-full justify-center">
          <div class="grid grid-cols-1 lg:grid-cols-5 gap-4 lg:w-[90%] w-[60%] items-center justify-center">
            <!-- Fila 1 -->
            <CardLiquidacion imgSrc={switches[0].imgSrc} title={switches[0].title} descriptions={switches[0].descriptions} precio={switches[0].precio} whatsappLink={switches[0].whatsappLink}/>
            <CardLiquidacion imgSrc={switches[1].imgSrc} title={switches[1].title} descriptions={switches[1].descriptions} precio={switches[1].precio} whatsappLink={switches[1].whatsappLink}/>
            <CardLiquidacion imgSrc={switches[2].imgSrc} title={switches[2].title} descriptions={switches[2].descriptions} precio={switches[2].precio} whatsappLink={switches[2].whatsappLink}/>
            <CardLiquidacion imgSrc={switches[3].imgSrc} title={switches[3].title} descriptions={switches[3].descriptions} precio={switches[3].precio} whatsappLink={switches[3].whatsappLink}/>
            <CardLiquidacion imgSrc={switches[4].imgSrc} title={switches[4].title} descriptions={switches[4].descriptions} precio={switches[4].precio} whatsappLink={switches[4].whatsappLink}/>
            
            <!-- Fila 2 -->
            <CardLiquidacion imgSrc={switches[5].imgSrc} title={switches[5].title} descriptions={switches[5].descriptions} precio={switches[5].precio} whatsappLink={switches[5].whatsappLink}/>
            <CardLiquidacion imgSrc={switches[6].imgSrc} title={switches[6].title} descriptions={switches[6].descriptions} precio={switches[6].precio} whatsappLink={switches[6].whatsappLink}/>
            <CardLiquidacion imgSrc={switches[7].imgSrc} title={switches[7].title} descriptions={switches[7].descriptions} precio={switches[7].precio} whatsappLink={switches[7].whatsappLink}/>
            <CardLiquidacion imgSrc={switches[8].imgSrc} title={switches[8].title} descriptions={switches[8].descriptions} precio={switches[8].precio} whatsappLink={switches[8].whatsappLink}/>
          </div>
        </div>
      </div>
      

        <div class="w-full flex flex-col">
            <div class="w-full flex justify-center mt-8 mb-6">
                <h2 class="w-[90%] lg:text-2xl text-lg border-b-2">Laptops</h2>
            </div>
            <div class="flex w-full justify-center">
              <div class="grid grid-cols-1 lg:grid-cols-5 gap-4 lg:w-[90%] w-[60%] items-center justify-center">
                <!-- Fila 1 -->
                <CardLiquidacion imgSrc={laptops[0].imgSrc} title={laptops[0].title} descriptions={laptops[0].descriptions} precio={laptops[0].precio} whatsappLink={laptops[0].whatsappLink}/>
                <CardLiquidacion imgSrc={laptops[1].imgSrc} title={laptops[1].title} descriptions={laptops[1].descriptions} precio={laptops[1].precio} whatsappLink={laptops[1].whatsappLink}/>
                <CardLiquidacion imgSrc={laptops[2].imgSrc} title={laptops[2].title} descriptions={laptops[2].descriptions} precio={laptops[2].precio} whatsappLink={laptops[2].whatsappLink}/>
                <CardLiquidacion imgSrc={laptops[3].imgSrc} title={laptops[3].title} descriptions={laptops[3].descriptions} precio={laptops[3].precio} whatsappLink={laptops[3].whatsappLink}/>
                <CardLiquidacion imgSrc={laptops[4].imgSrc} title={laptops[4].title} descriptions={laptops[4].descriptions} precio={laptops[4].precio} whatsappLink={laptops[4].whatsappLink}/>
                
                <!-- Fila 2 -->
                <CardLiquidacion imgSrc={laptops[5].imgSrc} title={laptops[5].title} descriptions={laptops[5].descriptions} precio={laptops[5].precio} whatsappLink={laptops[5].whatsappLink}/>
                <CardLiquidacion imgSrc={laptops[6].imgSrc} title={laptops[6].title} descriptions={laptops[6].descriptions} precio={laptops[6].precio} whatsappLink={laptops[6].whatsappLink}/>
                <CardLiquidacion imgSrc={laptops[7].imgSrc} title={laptops[7].title} descriptions={laptops[7].descriptions} precio={laptops[7].precio} whatsappLink={laptops[7].whatsappLink}/>
              </div>
            </div>
        </div>

        <div class="w-full flex flex-col">
            <div class="w-full flex justify-center mt-8 mb-6">
                <h2 class="w-[90%] lg:text-2xl text-lg border-b-2">Impresoras</h2>
            </div>
            <div class="flex w-full justify-center">
              <div class="grid grid-cols-1 lg:grid-cols-1 gap-4 lg:w-[17%] w-[60%] items-center justify-center">
                <!-- Fila 1 -->
                <CardLiquidacion imgSrc={impresoras[0].imgSrc} title={impresoras[0].title} descriptions={impresoras[0].descriptions} precio={impresoras[0].precio} whatsappLink={impresoras[0].whatsappLink}/>
              </div>
            </div>
        </div>

        <div class="w-full flex flex-col">
            <div class="w-full flex justify-center mt-8 mb-6">
                <h2 class="w-[90%] lg:text-2xl text-lg border-b-2">Computadoras AIO, PC y Monitores</h2>
            </div>
            <div class="flex w-full justify-center">
              <div class="grid grid-cols-1 lg:grid-cols-5 gap-4 lg:w-[90%] w-[60%] items-center justify-center">
                <!-- Fila 1 -->
                <CardLiquidacion imgSrc={computadoras[0].imgSrc} title={computadoras[0].title} descriptions={computadoras[0].descriptions} precio={computadoras[0].precio} whatsappLink={computadoras[0].whatsappLink}/>
                <CardLiquidacion imgSrc={computadoras[1].imgSrc} title={computadoras[1].title} descriptions={computadoras[1].descriptions} precio={computadoras[1].precio} whatsappLink={computadoras[1].whatsappLink}/>
                <CardLiquidacion imgSrc={computadoras[2].imgSrc} title={computadoras[2].title} descriptions={computadoras[2].descriptions} precio={computadoras[2].precio} whatsappLink={computadoras[2].whatsappLink}/>
                <CardLiquidacion imgSrc={computadoras[3].imgSrc} title={computadoras[3].title} descriptions={computadoras[3].descriptions} precio={computadoras[3].precio} whatsappLink={computadoras[3].whatsappLink}/>
                <CardLiquidacion imgSrc={computadoras[4].imgSrc} title={computadoras[4].title} descriptions={computadoras[4].descriptions} precio={computadoras[4].precio} whatsappLink={computadoras[4].whatsappLink}/>
                
                <!-- Fila 2 -->
                <CardLiquidacion imgSrc={computadoras[5].imgSrc} title={computadoras[5].title} descriptions={computadoras[5].descriptions} precio={computadoras[5].precio} whatsappLink={computadoras[5].whatsappLink}/>
                <CardLiquidacion imgSrc={computadoras[6].imgSrc} title={computadoras[6].title} descriptions={computadoras[6].descriptions} precio={computadoras[6].precio} whatsappLink={computadoras[6].whatsappLink}/>
              </div>
            </div>
        </div>

        <div class="w-full flex flex-col">
            <div class="w-full flex justify-center mt-8 mb-6">
                <h2 class="w-[90%] lg:text-2xl text-lg border-b-2">Servidores</h2>
            </div>
            <div class="flex w-full justify-center">
              <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:w-[35%] w-[60%] items-center justify-center">
                <!-- Fila 1 -->
                <CardLiquidacion imgSrc={servidores[0].imgSrc} title={servidores[0].title} descriptions={servidores[0].descriptions} precio={servidores[0].precio} whatsappLink={servidores[0].whatsappLink}/>
                <CardLiquidacion imgSrc={servidores[1].imgSrc} title={servidores[1].title} descriptions={servidores[1].descriptions} precio={servidores[1].precio} whatsappLink={servidores[1].whatsappLink}/>
              </div>
            </div>
        </div>

        <div class="w-full flex flex-col">
            <div class="w-full flex justify-center mt-8 mb-6">
                <h2 class="w-[90%] lg:text-2xl text-lg border-b-2">Cámaras</h2>
            </div>
            <div class="flex w-full justify-center">
              <div class="grid grid-cols-1 lg:grid-cols-1 gap-4 lg:w-[17%] w-[60%] items-center justify-center">
                <!-- Fila 1 -->
                <CardLiquidacion imgSrc={camaras[0].imgSrc} title={camaras[0].title} descriptions={camaras[0].descriptions} precio={camaras[0].precio} whatsappLink={camaras[0].whatsappLink}/>
              </div>
            </div>
        </div>
    </section>
</Layout>