---
// CardSolucion.astro
export interface Props {
  imgSrc: string;
  title: string;
  descriptions: string[];
  whatsappLink: string;
}

const { imgSrc, title, descriptions, whatsappLink } = Astro.props;
---

<div class="lg:w-[25%] w-[75%] border border-[#192855] border-solid flex flex-col gap-2 bg-[#F1F1F1] rounded-lg pb-2 h-full lg:min-h-[650px]">
  <div class="w-full flex justify-center flex-col">
    <img src={imgSrc} alt={title} class="rounded-t-lg">
    <span class="w-auto text-center lg:text-xl 2xl:text-4xl text-lg bg-[#192855] text-[#fff] py-2 px-4 2xl:p-6">{title}</span>
  </div>
  <div class="w-full flex justify-center flex-grow">
    <ul class="flex flex-col list-disc w-full pl-6 2xl:text-2xl text-[#999]">
      {descriptions.map(desc => (
        <li>{desc}</li>
      ))}
    </ul>
  </div>
  <div class="w-full flex justify-center">
    <a href={whatsappLink} target="_blank" class="w-auto bg-[#192855] text-[#fff] p-2 2xl:text-3xl 2xl:p-4 rounded-lg hover:bg-[#00A7CC]">
      Más Información
    </a>
  </div>
</div>
