---
// Soluciones.astro
import windowLog from "../assets/Ctg_Prod/software/sistemaop.webp";
import adobe from "../assets/Ctg_Prod/software/adobe.webp";
import eset from "../assets/Ctg_Prod/software/eset.webp";
import office from "../assets/Ctg_Prod/software/office.webp";
import sql from "../assets/Ctg_Prod/software/sql.webp";
import autoDesk from "../assets/Ctg_Prod/software/autodesk.webp";

import proyector from "../assets/Ctg_Prod/entrada_salida/proyectores.webp";
import scanners from "../assets/Ctg_Prod/entrada_salida/scanners.webp";

import ups from "../assets/Ctg_Prod/equip_protect_electrica/ups.webp";
import transformadores from "../assets/Ctg_Prod/equip_protect_electrica/transformadores.webp";

import discoExterno from "../assets/Ctg_Prod/almacenamiento/disco_externo.webp";
import discoInterno from "../assets/Ctg_Prod/almacenamiento/disco_interno.webp";

import memoria_ram from "../assets/Ctg_Prod/componentes_hardware/memoria_ram.webp";
import motherboard from "../assets/Ctg_Prod/componentes_hardware/motherboard.webp";
import partesPc from "../assets/Ctg_Prod/componentes_hardware/partes_pc.webp";

import impresoras from "../assets/Ctg_Prod/perifericos_accesorios/impresoras.webp";
import camaras from "../assets/Ctg_Prod/perifericos_accesorios/camaras_seguridad.webp";
import suministrosImpre from "../assets/Ctg_Prod/perifericos_accesorios/suministros_impresora.webp";
import baterias from "../assets/Ctg_Prod/perifericos_accesorios/baterias.webp";
import lamparas from "../assets/Ctg_Prod/perifericos_accesorios/lamparas_proyector.webp";
import adaptadores from "../assets/Ctg_Prod/perifericos_accesorios/adaptadores.webp";

import kvmSwitch from "../assets/Ctg_Prod/redes_conectividad/kvm_switch.webp";
import switches from "../assets/Ctg_Prod/redes_conectividad/switch.webp";
import router from "../assets/Ctg_Prod/redes_conectividad/router.webp";

import laptop from "../assets/Ctg_Prod/equipos/laptop.webp";
import pc from "../assets/Ctg_Prod/equipos/pc.webp";
import pda from "../assets/Ctg_Prod/equipos/pda_handheld.webp";

import servidor from "../assets/Ctg_Prod/servidores_componentes/servidores.webp";
import gabinetes from "../assets/Ctg_Prod/servidores_componentes/gabinetes_racks.webp";
import tapeBack from "../assets/Ctg_Prod/servidores_componentes/tape_backups.webp";
import discoServ from "../assets/Ctg_Prod/servidores_componentes/disco_duro.webp";
import memoriaServ from "../assets/Ctg_Prod/servidores_componentes/memoria.webp";
---

<section id="soluciones" class="w-full py-12 flex flex-col lg:gap-8 gap-4">
  <div class="lg:h-24 2xl:h-32 h-14 flex justify-center items-center font-bold lg:text-3xl bg-[#192855] text-[#fff] mb-8">
    <h2 class="lg:text-5xl 2xl:text-7xl text-center text-2xl font-light">Categoria de Productos</h2>
  </div>

  <section class="relative w-full py-6 flex flex-col lg:gap-8 gap-4">
    <div class=" flex justify-center items-center font-bold lg:text-3xl text-[#192855]">
      <h2 class="lg:text-5xl 2xl:text-7xl text-center text-2xl font-light border-b border-[#192855]">Redes y Conectividad</h2>
    </div>
    <div class="lg:flex w-full justify-center items-center">
      <div class="flex lg:gap-6 gap-2 lg:w-[80%] w-[90%] h-full justify-center items-center p-4">
        <a href="" class="w-[20%]">
          <img 
            src={router.src} 
            class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
            alt=""
          >
        </a>
        <a href="" class="w-[30%]">
          <img 
            src={switches.src} 
            class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
            alt=""
          >
        </a>
        <a href="" class="w-[20%]">
          <img 
            src={kvmSwitch.src}
            class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
            alt=""
          >
        </a>
      </div>
    </div>
  </section>

  <section class="relative w-full py-6 flex flex-col lg:gap-8 gap-4">
    <div class=" flex justify-center items-center font-bold lg:text-3xl text-[#192855]">
      <h2 class="lg:text-5xl 2xl:text-7xl text-center text-2xl font-light border-b border-[#192855]">Equipos de Cómputo</h2>
    </div>
    <div class="lg:flex w-full justify-center items-center">
      <div class="flex lg:gap-6 gap-2 lg:w-[80%] w-[90%] h-full justify-center items-center p-4">
        <a href="" class="w-[20%]">
          <img 
            src={pc.src} 
            class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
            alt=""
          >
        </a>
        <a href="" class="w-[20%]">
          <img 
            src={laptop.src} 
            class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
            alt=""
          >
        </a>
        <a href="" class="w-[20%]">
          <img 
            src={pda.src}
            class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
            alt=""
          >
        </a>
      </div>
    </div>
  </section>

  <section class="relative w-full py-6 flex flex-col lg:gap-8 gap-4">
    <div class=" flex justify-center items-center font-bold lg:text-3xl text-[#192855]">
      <h2 class="lg:text-5xl 2xl:text-7xl text-center text-2xl font-light border-b border-[#192855]">Servidores y Componentes</h2>
    </div>
    <swiper-container navigation="true" loop="true" autoplay autoplay-delay="6000000" class="lg:flex lg:w-[80%] w-[90%] items-center">
      <swiper-slide>
        <div class="flex lg:gap-6 gap-2 h-full justify-center items-center p-4">
          <a href="" class="w-[20%]">
            <img 
              src={servidor.src} 
              class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
              alt=""
            >
          </a>
          <a href="" class="w-[20%]">
            <img 
              src={gabinetes.src} 
              class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
              alt=""
            >
          </a>
          <a href="" class="w-[20%]">
            <img 
              src={tapeBack.src} 
              class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
              alt=""
            >
          </a>
          <a href="" class="w-[20%]">
            <img 
              src={discoServ.src} 
              class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
              alt=""
            >
          </a>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="flex lg:gap-4 gap-2 w-full h-full justify-center items-center p-4">
          <a href="" class="w-[20%] ">
            <img 
              src={memoriaServ.src} 
              class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
              alt=""
            >
          </a>
        </div>
      </swiper-slide>
    </swiper-container>
  </section>

  <section class="relative w-full py-6 flex flex-col lg:gap-8 gap-4">
    <div class=" flex justify-center items-center font-bold lg:text-3xl text-[#192855]">
      <h2 class="lg:text-5xl 2xl:text-7xl text-center text-2xl font-light border-b border-[#192855]">Periféricos y Accesorios</h2>
    </div>
    <swiper-container navigation="true" loop="true" autoplay autoplay-delay="6000000" class="lg:flex lg:w-[80%] w-[90%] items-center">
      <swiper-slide>
        <div class="flex lg:gap-6 gap-2 w-full h-full justify-center items-center p-4">
          <a href="" class="w-[20%]">
            <img 
              src={impresoras.src} 
              class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
              alt=""
            >
          </a>
          <a href="" class="w-[20%]">
            <img 
              src={camaras.src} 
              class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
              alt=""
            >
          </a>
          <a href="" class="w-[20%]">
            <img 
              src={proyector.src} 
              class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
              alt=""
            >
          </a>
          <a href="" class="w-[20%]">
            <img 
              src={scanners.src} 
              class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
              alt=""
            >
          </a>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="flex lg:gap-4 gap-2 w-full h-full justify-center items-center p-4">
          <a href="" class="w-[20%] ">
            <img 
              src={suministrosImpre.src} 
              class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
              alt=""
            >
          </a>
          <a href="" class="w-[20%]">
            <img 
              src={baterias.src} 
              class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
              alt=""
            >
          </a>
          <a href="" class="w-[20%] ">
            <img 
              src={lamparas.src} 
              class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
              alt=""
            >
          </a>
          <a href="" class="w-[20%]">
            <img 
              src={adaptadores.src} 
              class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
              alt=""
            >
          </a>
        </div>
      </swiper-slide>
    </swiper-container>
  </section>

  <section class="relative w-full py-6 flex flex-col lg:gap-8 gap-4">
    <div class=" flex justify-center items-center font-bold lg:text-3xl text-[#192855]">
      <h2 class="lg:text-5xl 2xl:text-7xl text-center text-2xl font-light border-b border-[#192855]">Protección Eléctrica</h2>
    </div>
    <swiper-container navigation="true" loop="true" autoplay autoplay-delay="6000000" class="lg:flex lg:w-[80%] w-[90%] items-center">
      <div class="lg:flex w-full justify-center items-center">
        <div class="flex lg:gap-6 gap-2 lg:w-[80%] w-[90%] h-full justify-center items-center p-4">
          <a href="" class="w-[20%]">
            <img 
              src={ups.src} 
              class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
              alt=""
            >
          </a>
          <a href="" class="w-[20%]">
            <img 
              src={transformadores.src} 
              class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
              alt=""
            >
          </a>
        </div>
      </div>
    </swiper-container>
  </section>

  <section class="relative w-full py-6 flex flex-col lg:gap-8 gap-4">
    <div class=" flex justify-center items-center font-bold lg:text-3xl text-[#192855]">
      <h2 class="lg:text-5xl 2xl:text-7xl text-center text-2xl font-light border-b border-[#192855]">Almacenamiento</h2>
    </div>
    <swiper-container navigation="true" loop="true" autoplay autoplay-delay="6000000" class="lg:flex lg:w-[80%] w-[90%] items-center">
      <swiper-slide>
        <div class="flex lg:gap-6 gap-2 w-full h-full justify-center items-center p-4">
          <a href="" class="w-[20%]">
            <img 
              src={discoInterno.src} 
              class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
              alt=""
            >
          </a>
          <a href="" class="w-[20%]">
            <img 
              src={discoExterno.src} 
              class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
              alt=""
            >
          </a>
        </div>
      </swiper-slide>
    </swiper-container>
  </section>

  <section class="relative w-full py-6 flex flex-col lg:gap-8 gap-4">
    <div class=" flex justify-center items-center font-bold lg:text-3xl text-[#192855]">
      <h2 class="lg:text-5xl 2xl:text-7xl text-center text-2xl font-light border-b border-[#192855]">Componentes Hardware</h2>
    </div>
    <swiper-container navigation="true" loop="true" autoplay autoplay-delay="6000000" class="lg:flex lg:w-[80%] w-[90%] items-center">
      <swiper-slide>
        <div class="flex lg:gap-6 gap-2 w-full h-full justify-center items-center p-4">
          <a href="" class="w-[20%]">
            <img 
              src={memoria_ram.src} 
              class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
              alt=""
            >
          </a>
          <a href="" class="w-[20%]">
            <img 
              src={partesPc.src} 
              class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
              alt=""
            >
          </a>
          <a href="" class="w-[20%]">
            <img 
              src={motherboard.src} 
              class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
              alt=""
            >
          </a>
        </div>
      </swiper-slide>
    </swiper-container>
  </section>

  <section class="relative w-full py-6 flex flex-col lg:gap-8 gap-4">
    <div class=" flex justify-center items-center font-bold lg:text-3xl text-[#192855]">
      <h2 class="lg:text-5xl 2xl:text-7xl text-center text-2xl font-light border-b border-[#192855]">Software</h2>
    </div>
    <swiper-container navigation="true" loop="true" autoplay autoplay-delay="6000000" class="lg:flex lg:w-[80%] w-[90%] items-center">
      <swiper-slide>
        <div class="flex lg:gap-6 gap-2 w-full h-full justify-center items-center p-4">
          <a href="" class="w-[20%]">
            <img 
              src={windowLog.src} 
              class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
              alt=""
            >
          </a>
          <a href="" class="w-[20%]">
            <img 
              src={adobe.src} 
              class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
              alt=""
            >
          </a>
          <a href="" class="w-[20%]">
            <img 
              src={eset.src} 
              class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
              alt=""
            >
          </a>
          <a href="" class="w-[20%]">
            <img 
              src={office.src} 
              class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
              alt=""
            >
          </a>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="flex lg:gap-4 gap-2 w-full h-full justify-center items-center p-4">
          <a href="" class="w-[20%] ">
            <img 
              src={sql.src} 
              class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
              alt=""
            >
          </a>
          <a href="" class="w-[20%]">
            <img 
              src={autoDesk.src} 
              class="border border-[#192855] hover:border-[#00A7CC] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" 
              alt=""
            >
          </a>
        </div>
      </swiper-slide>
    </swiper-container>
  </section>

  <!--
    <div class="relative">
    <swiper-container  loop="true" autoplay autoplay-delay="6000000" class="lg:flex lg:w-[80%] w-[90%] items-center">
      <swiper-slide>
        <div class="flex lg:gap-6 gap-2 w-full h-full justify-center items-center">
          <a href="" class="w-[20%]"><img src={adobe.src} class="hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" alt=""></a>
          <a href="" class="w-[20%]"><img src={adobe.src} class="hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" alt=""></a>
          <a href="" class="w-[20%]"><img src={adobe.src} class="hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" alt=""></a>
          <a href="" class="w-[20%]"><img src={adobe.src} class="hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" alt=""></a>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="flex lg:gap-4 gap-2 w-full h-full justify-center items-center">
            <a href="" class="w-[20%]"><img src={adobe.src} class="hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" alt=""></a>
            <a href="" class="w-[20%]"><img src={adobe.src} class="hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" alt=""></a>
            <a href="" class="w-[20%]"><img src={adobe.src} class="hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform" alt=""></a>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
  -->

  <script>
    import { register } from "swiper/element/bundle";
    register();
  </script>
</section>