---
import windowLog from "../assets/Ctg_Prod/software/sistemaop.png";
import avast from "../assets/Ctg_Prod/software/avast.png";
import adobe from "../assets/Ctg_Prod/software/adobe.png";
import eset from "../assets/Ctg_Prod/software/eset.png";
import office from "../assets/Ctg_Prod/software/office.png";
import sql from "../assets/Ctg_Prod/software/sql.png";
import autoDesk from "../assets/Ctg_Prod/software/autoDesk.png";

import proyector from "../assets/Ctg_Prod/entrada_salida/proyectores.png";
import scanners from "../assets/Ctg_Prod/entrada_salida/scanners.png";

import ups from "../assets/Ctg_Prod/equip_protect_electrica/ups.png";
import transformadores from "../assets/Ctg_Prod/equip_protect_electrica/transformadores.png";

import discoExterno from "../assets/Ctg_Prod/almacenamiento/disco_externo.png";
import discoInterno from "../assets/Ctg_Prod/almacenamiento/disco_interno.png";

import memoria_ram from "../assets/Ctg_Prod/componentes_hardware/memoria_ram.png";
import motherboard from "../assets/Ctg_Prod/componentes_hardware/motherboard.png";
import partesPc from "../assets/Ctg_Prod/componentes_hardware/partes_pc.png";
---

<section id="ctg-product" class="mt-16 mb-16 flex flex-col gap-4">
    <div class="lg:h-24 flex justify-center items-center font-bold lg:text-3xl ">
        <h2 class="lg:text-5xl text-center text-2xl font-light">Tienda Grupo Nec</h2>
    </div>
    <div class="flex  flex-col justify-center w-full">
        <div class="w-full flex justify-center my-2">
            <h2 class="w-[80%] text-2xl border-b-2">Categoría Software</h2>
        </div>
        <div class="w-full flex justify-center">
            <ul class="flex lg:gap-8 gap-4 flex-wrap w-[80%] justify-center">
                <li class="w-[20%]"><a href=""><img src={windowLog.src} alt="" class="hover:shadow-2xl rounded-lg"></a></li>
                <li class="w-[20%]"><a href=""><img src={avast.src} alt="" class="hover:shadow-2xl rounded-lg"></a></li>
                <li class="w-[20%]"><a href=""><img src={adobe.src} alt="" class="hover:shadow-2xl rounded-lg"></a></li>
                <li class="w-[20%]"><a href=""><img src={eset.src} alt="" class="hover:shadow-2xl rounded-lg"></a></li>
                <li class="w-[20%]"><a href=""><img src={office.src} alt="" class="hover:shadow-2xl rounded-lg"></a></li>
                <li class="w-[20%]"><a href=""><img src={sql.src} alt="" class="hover:shadow-2xl rounded-lg"></a></li>
                <li class="w-[20%]"><a href=""><img src={autoDesk.src} alt="" class="hover:shadow-2xl rounded-lg"></a></li>
            </ul>
        </div>
    </div>

    <!------------------CTG DISP. ENTRADA Y SALIDA------ -->
    <div class="flex  flex-col justify-center w-full">
        <div class="w-full flex justify-center my-2">
            <h2 class="w-[80%] text-2xl border-b-2">Categoría Disp. Entrada y Salida</h2>
        </div>
        <div class="w-full flex justify-center">
            <ul class="flex gap-8 flex-wrap w-[80%] justify-center">
                <li class="w-[20%]"><a href=""><img src={proyector.src} alt="" class="hover:shadow-2xl rounded-lg"></a></li>
                <li class="w-[20%]"><a href=""><img src={scanners.src} alt="" class="hover:shadow-2xl rounded-lg"></a></li>
            </ul>
        </div>
    </div>

    <!------------------CTG DISP. EQUIPOS DE PROTECCION ELECTRICA------ -->
    <div class="flex  flex-col justify-center w-full">
        <div class="w-full flex justify-center my-2">
            <h2 class="w-[80%] text-2xl border-b-2">Categoría Equipos de Protección Eléctrica</h2>
        </div>
        <div class="w-full flex justify-center">
            <ul class="flex gap-8 flex-wrap w-[80%] justify-center">
                <li class="w-[20%]"><a href=""><img src={ups.src} alt="" class="hover:shadow-2xl rounded-lg"></a></li>
                <li class="w-[20%]"><a href=""><img src={transformadores.src} alt="" class="hover:shadow-2xl rounded-lg"></a></li>
            </ul>
        </div>
    </div>

    <!------------------CTG ALMACENAMIENTO------ -->
    <div class="flex  flex-col justify-center w-full">
        <div class="w-full flex justify-center my-2">
            <h2 class="w-[80%] text-2xl border-b-2">Categoría Almacenamiento</h2>
        </div>
        <div class="w-full flex justify-center">
            <ul class="flex gap-8 flex-wrap w-[80%] justify-center">
                <li class="w-[20%]"><a href=""><img src={discoExterno.src} alt="" class="hover:shadow-2xl rounded-lg"></a></li>
                <li class="w-[20%]"><a href=""><img src={discoInterno.src} alt="" class="hover:shadow-2xl rounded-lg"></a></li>
            </ul>
        </div>
    </div>

    <!------------------CTG COMPONENTES HARDWARE------ -->
    <div class="flex  flex-col justify-center w-full">
        <div class="w-full flex justify-center my-2">
            <h2 class="w-[80%] text-2xl border-b-2">Categoría Componentes Hardware</h2>
        </div>
        <div class="w-full flex justify-center">
            <ul class="flex gap-8 flex-wrap w-[80%] justify-center">
                <li class="w-[20%]"><a href=""><img src={memoria_ram.src} alt="" class="hover:shadow-2xl rounded-lg"></a></li>
                <li class="w-[20%]"><a href=""><img src={motherboard.src} alt="" class="hover:shadow-2xl rounded-lg"></a></li>
                <li class="w-[20%]"><a href=""><img src={partesPc.src} alt="" class="hover:shadow-2xl rounded-lg"></a></li>
            </ul>
        </div>
    </div>

    <!------------------CTG PERIFERICOS Y ACCESORIOS------ -->
    <div class="flex  flex-col justify-center w-full">
        <div class="w-full flex justify-center my-2">
            <h2 class="w-[80%] text-2xl border-b-2">Categoría Periféricos y Accesorios</h2>
        </div>
        <div class="w-full flex justify-center">
            <ul class="flex gap-8 flex-wrap w-[80%] justify-center">
                <li class="w-[20%]"><a href=""><img src={memoria_ram.src} alt="" class="hover:shadow-2xl rounded-lg"></a></li>
                <li class="w-[20%]"><a href=""><img src={motherboard.src} alt="" class="hover:shadow-2xl rounded-lg"></a></li>
                <li class="w-[20%]"><a href=""><img src={partesPc.src} alt="" class="hover:shadow-2xl rounded-lg"></a></li>
            </ul>
        </div>
    </div>
</section>