---
import windowLog from "../assets/Ctg_Prod/software/sistemaop.webp";
import adobe from "../assets/Ctg_Prod/software/adobe.webp";
import eset from "../assets/Ctg_Prod/software/eset.webp";
import office from "../assets/Ctg_Prod/software/office.webp";
import sql from "../assets/Ctg_Prod/software/sql.webp";
import autoDesk from "../assets/Ctg_Prod/software/autodesk.webp";

import proyector from "../assets/Ctg_Prod/entrada_salida/proyectores.webp";
import scanners from "../assets/Ctg_Prod/entrada_salida/scanners.webp";

import ups from "../assets/Ctg_Prod/equip_protect_electrica/ups.webp";
import transformadores from "../assets/Ctg_Prod/equip_protect_electrica/transformadores.webp";

import discoExterno from "../assets/Ctg_Prod/almacenamiento/disco_externo.webp";
import discoInterno from "../assets/Ctg_Prod/almacenamiento/disco_interno.webp";

import memoria_ram from "../assets/Ctg_Prod/componentes_hardware/memoria_ram.webp";
import motherboard from "../assets/Ctg_Prod/componentes_hardware/motherboard.webp";
import partesPc from "../assets/Ctg_Prod/componentes_hardware/partes_pc.webp";

import impresoras from "../assets/Ctg_Prod/perifericos_accesorios/impresoras.webp";
import camaras from "../assets/Ctg_Prod/perifericos_accesorios/camaras_seguridad.webp";
import suministrosImpre from "../assets/Ctg_Prod/perifericos_accesorios/suministros_impresora.webp";
import baterias from "../assets/Ctg_Prod/perifericos_accesorios/baterias.webp";
import lamparas from "../assets/Ctg_Prod/perifericos_accesorios/lamparas_proyector.webp";
import adaptadores from "../assets/Ctg_Prod/perifericos_accesorios/adaptadores.webp";

import kvmSwitch from "../assets/Ctg_Prod/redes_conectividad/kvm_switch.webp";
import switches from "../assets/Ctg_Prod/redes_conectividad/switch.webp";
import router from "../assets/Ctg_Prod/redes_conectividad/router.webp";

import laptop from "../assets/Ctg_Prod/equipos/laptop.webp";
import pc from "../assets/Ctg_Prod/equipos/pc.webp";
import pda from "../assets/Ctg_Prod/equipos/pda_handheld.webp";

import servidor from "../assets/Ctg_Prod/servidores_componentes/servidores.webp";
import gabinetes from "../assets/Ctg_Prod/servidores_componentes/gabinetes_racks.webp";
import tapeBack from "../assets/Ctg_Prod/servidores_componentes/tape_backups.webp";
import discoServ from "../assets/Ctg_Prod/servidores_componentes/disco_duro.webp";
import memoriaServ from "../assets/Ctg_Prod/servidores_componentes/memoria.webp";
---

<section id="ctg-product" class="mt-0 lg:mt-0 mb-16 flex flex-col gap-4">
    <div class="lg:h-24 2xl:mb-8 2xl:h-32 h-14 flex justify-center items-center font-bold lg:text-3xl bg-[#192855] text-[#fff]">
        <h2 class="lg:text-5xl 2xl:text-7xl text-center text-3xl font-light">Productos</h2>
    </div>

    <!------------------CTG REDES Y CONECTIVIDAD EMPRESARIAL/HOGAR------ -->
    <div class="flex  flex-col justify-center w-full">
        <div class="w-full flex justify-center mt-8 mb-6">
            <h2 class="w-[90%] lg:text-3xl border-[#192855] text-[#192855] 2xl:text-5xl text-2xl border-b-2">Redes y Conectividad Empresarial</h2>
        </div>
        <div class="w-full flex justify-center">
            <ul class="flex lg:gap-8 gap-4 flex-wrap w-[90%] justify-center">
                <li class="lg:w-[50%] w-[80%]"><a href="/productos/redes-conectividad" class="flex justify-center"><img src={switches.src} alt="ctgSwitch"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
            </ul>
        </div>
    </div>

    <!------------------CTG EQUIPOS DE COMPUTO------ -->
    <div class="flex  flex-col justify-center w-full">
        <div class="w-full flex justify-center mt-8 mb-6">
            <h2 class="w-[90%] lg:text-3xl border-[#192855] text-[#192855] 2xl:text-5xl text-2xl border-b-2">Equipos de Cómputo</h2>
        </div>
        <div class="w-full flex justify-center">
            <ul class="flex lg:gap-8 gap-4 flex-wrap w-[90%] justify-center">
                <li class="lg:w-[20%] w-[45%]"><a href="/productos/equipos-computo/laptops"><img src={laptop.src} alt="ctgLaptop"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
                <li class="lg:w-[20%] w-[45%]"><a href="/productos/equipos-computo/computadoras"><img src={pc.src} alt="ctgPC"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
                <li class="lg:w-[20%] w-[45%]"><a href=""><img src={pda.src} alt="ctgSmartphones"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
            </ul>
        </div>
    </div>

    <!------------------CTG REDES Y CONECTIVIDAD HOGAR------ -->
    <div class="flex  flex-col justify-center w-full">
        <div class="w-full flex justify-center mt-8 mb-6">
            <h2 class="w-[90%] lg:text-3xl border-[#192855] text-[#192855] 2xl:text-5xl text-2xl border-b-2">Redes y Conectividad Hogar</h2>
        </div>
        <div class="w-full flex justify-center">
            <ul class="flex lg:gap-8 gap-4 flex-wrap w-[90%] justify-center">
                <li class="lg:w-[20%] w-[45%]"><a href=""><img src={router.src} alt="ctgRouter"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
                <li class="lg:w-[20%] w-[45%]"><a href=""><img src={kvmSwitch.src} alt="ctgKVMSwitch"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
            </ul>
        </div>
    </div>

    <!------------------CTG SERVIDORES COMPONENTES------ -->
    <div class="flex  flex-col justify-center w-full">
        <div class="w-full flex justify-center mt-8 mb-6">
            <h2 class="w-[90%] lg:text-3xl border-[#192855] text-[#192855] 2xl:text-5xl text-2xl border-b-2">Servidores y Componentes</h2>
        </div>
        <div class="w-full flex justify-center">
            <ul class="flex lg:gap-8 gap-4 flex-wrap w-[90%] justify-center">
                <li class="lg:w-[20%] w-[45%]"><a href="/productos/servidores-componentes/servidores"><img src={servidor.src} alt="ctgServidor"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
                <li class="lg:w-[20%] w-[45%]"><a href=""><img src={gabinetes.src} alt="ctgGabinetes"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
                <li class="lg:w-[20%] w-[45%]"><a href=""><img src={tapeBack.src} alt="ctgTapeBackp"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
                <li class="lg:w-[20%] w-[45%]"><a href=""><img src={discoServ.src} alt="ctgDiscoServer"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
                <li class="lg:w-[20%] w-[45%]"><a href=""><img src={memoriaServ.src} alt="ctgMemoriaServer"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
            </ul>
        </div>
    </div>

    <!------------------CTG PERIFERICOS Y ACCESORIOS------ -->
    <div class="flex  flex-col justify-center w-full">
        <div class="w-full flex justify-center mt-8 mb-6">
            <h2 class="w-[90%] lg:text-3xl border-[#192855] text-[#192855] 2xl:text-5xl text-2xl border-b-2">Periféricos y Accesorios</h2>
        </div>
        <div class="w-full flex justify-center">
            <ul class="flex lg:gap-8 gap-4 flex-wrap w-[90%] justify-center">
                <li class="lg:w-[20%] w-[45%]"><a href="/productos/perifericos-accesorios/impresoras"><img src={impresoras.src} alt="ctgImpresoras"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
                <li class="lg:w-[20%] w-[45%]"><a href=""><img src={camaras.src} alt="ctgCamaras"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
                <li class="lg:w-[20%] w-[45%]"><a href=""><img src={suministrosImpre.src} alt="ctgSuministrosImpresora"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
                <li class="lg:w-[20%] w-[45%]"><a href=""><img src={baterias.src} alt="ctgBateria"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
                <li class="lg:w-[20%] w-[45%]"><a href=""><img src={lamparas.src} alt="ctgLamparas"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
                <li class="lg:w-[20%] w-[45%]"><a href=""><img src={adaptadores.src} alt="ctgAdaptador"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
            </ul>
        </div>
    </div>

    <!------------------CTG DISP. ENTRADA Y SALIDA------ -->
    <div class="flex  flex-col justify-center w-full">
        <div class="w-full flex justify-center mt-8 mb-6">
            <h2 class="w-[90%] lg:text-3xl border-[#192855] text-[#192855] 2xl:text-5xl text-2xl border-b-2">Disp. Entrada y Salida</h2>
        </div>
        <div class="w-full flex justify-center">
            <ul class="flex lg:gap-8 gap-4 flex-wrap w-[90%] justify-center">
                <li class="lg:w-[20%] w-[45%]"><a href=""><img src={proyector.src} alt="ctgProyector"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
                <li class="lg:w-[20%] w-[45%]"><a href=""><img src={scanners.src} alt="ctgScanner"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
            </ul>
        </div>
    </div>

    <!------------------CTG DISP. EQUIPOS DE PROTECCION ELECTRICA------ -->
    <div class="flex  flex-col justify-center w-full">
        <div class="w-full flex justify-center mt-8 mb-6">
            <h2 class="w-[90%] lg:text-3xl border-[#192855] text-[#192855] 2xl:text-5xl text-2xl border-b-2">Equipos de Protección Eléctrica</h2>
        </div>
        <div class="w-full flex justify-center">
            <ul class="flex lg:gap-8 gap-4 flex-wrap w-[90%] justify-center">
                <li class="lg:w-[20%] w-[45%]"><a href=""><img src={ups.src} alt="ctgUPS"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
                <li class="lg:w-[20%] w-[45%]"><a href=""><img src={transformadores.src} alt="ctgTransformadores"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
            </ul>
        </div>
    </div>

    <!------------------CTG ALMACENAMIENTO------ -->
    <div class="flex  flex-col justify-center w-full">
        <div class="w-full flex justify-center mt-8 mb-6">
            <h2 class="w-[90%] lg:text-3xl border-[#192855] text-[#192855] 2xl:text-5xl text-2xl border-b-2">Almacenamiento</h2>
        </div>
        <div class="w-full flex justify-center">
            <ul class="flex lg:gap-8 gap-4 flex-wrap w-[90%] justify-center">
                <li class="lg:w-[20%] w-[45%]"><a href=""><img src={discoExterno.src} alt="ctgDiscoExterno"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
                <li class="lg:w-[20%] w-[45%]"><a href=""><img src={discoInterno.src} alt="ctgDiscoInterno"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
            </ul>
        </div>
    </div>

    <!------------------CTG COMPONENTES HARDWARE------ -->
    <div class="flex  flex-col justify-center w-full">
        <div class="w-full flex justify-center mt-8 mb-6">
            <h2 class="w-[90%] lg:text-3xl border-[#192855] text-[#192855] 2xl:text-5xl text-2xl border-b-2">Componentes Hardware</h2>
        </div>
        <div class="w-full flex justify-center">
            <ul class="flex lg:gap-8 gap-4 flex-wrap w-[90%] justify-center">
                <li class="lg:w-[20%] w-[45%]"><a href=""><img src={memoria_ram.src} alt="ctgMemoriaRAM"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
                <li class="lg:w-[20%] w-[45%]"><a href=""><img src={motherboard.src} alt="ctgMotherboard"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
                <li class="lg:w-[20%] w-[45%]"><a href=""><img src={partesPc.src} alt="ctgPartesPC"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
            </ul>
        </div>
    </div>

    <!------------------CTG SOFTWARE------ -->
    <div class="flex  flex-col justify-center w-full">
        <div class="w-full flex justify-center mt-8 mb-6">
            <h2 class="w-[90%] lg:text-3xl border-[#192855] text-[#192855] 2xl:text-5xl text-2xl border-b-2">Software</h2>
        </div>
        <div class="w-full flex justify-center">
            <ul class="flex lg:gap-8 gap-4 flex-wrap w-[90%] justify-center">
                <li class="lg:w-[20%] w-[45%]"><a href=""><img src={windowLog.src} alt="ctgSistemaOperativo"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
                <li class="lg:w-[20%] w-[45%]"><a href=""><img src={adobe.src} alt="ctgAdobe"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
                <li class="lg:w-[20%] w-[45%]"><a href=""><img src={eset.src} alt="ctgEset"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
                <li class="lg:w-[20%] w-[45%]"><a href=""><img src={office.src} alt="ctgOffice"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
                <li class="lg:w-[20%] w-[45%]"><a href=""><img src={sql.src} alt="ctgSQL"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
                <li class="lg:w-[20%] w-[45%]"><a href=""><img src={autoDesk.src} alt="ctgAutoDesk"  class="border border-[#192855] hover:shadow-lg rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 will-change-transform"></a></li>
            </ul>
        </div>
    </div>
</section>