---
import windowLog from "../assets/Ctg_Prod/software/sistemaop.png";
import adobe from "../assets/Ctg_Prod/software/adobe.png";
import eset from "../assets/Ctg_Prod/software/eset.png";
import office from "../assets/Ctg_Prod/software/office.png";
import sql from "../assets/Ctg_Prod/software/sql.png";
import autoDesk from "../assets/Ctg_Prod/software/autoDesk.png";

import proyector from "../assets/Ctg_Prod/entrada_salida/proyectores.png";
import scanners from "../assets/Ctg_Prod/entrada_salida/scanners.png";

import ups from "../assets/Ctg_Prod/equip_protect_electrica/ups.png";
import transformadores from "../assets/Ctg_Prod/equip_protect_electrica/transformadores.png";

import discoExterno from "../assets/Ctg_Prod/almacenamiento/disco_externo.png";
import discoInterno from "../assets/Ctg_Prod/almacenamiento/disco_interno.png";

import memoria_ram from "../assets/Ctg_Prod/componentes_hardware/memoria_ram.png";
import motherboard from "../assets/Ctg_Prod/componentes_hardware/motherboard.png";
import partesPc from "../assets/Ctg_Prod/componentes_hardware/partes_pc.png";

import impresoras from "../assets/Ctg_Prod/perifericos_accesorios/impresoras.png";
import camaras from "../assets/Ctg_Prod/perifericos_accesorios/camaras_seguridad.png";
import suministrosImpre from "../assets/Ctg_Prod/perifericos_accesorios/suministros_impresora.png";
import baterias from "../assets/Ctg_Prod/perifericos_accesorios/baterias.png";
import lamparas from "../assets/Ctg_Prod/perifericos_accesorios/lamparas_proyector.png";
import adaptadores from "../assets/Ctg_Prod/perifericos_accesorios/adaptadores.png";

import kvmSwitch from "../assets/Ctg_Prod/redes_conectividad/kvm_switch.png";
import switches from "../assets/Ctg_Prod/redes_conectividad/switch.png";
import router from "../assets/Ctg_Prod/redes_conectividad/router.png";

import laptop from "../assets/Ctg_Prod/equipos/laptop.png";
import pc from "../assets/Ctg_Prod/equipos/pc.png";
import pda from "../assets/Ctg_Prod/equipos/pda_handheld.png";

import servidor from "../assets/Ctg_Prod/servidores_componentes/servidores.png";
import gabinetes from "../assets/Ctg_Prod/servidores_componentes/gabinetes_racks.png";
import tapeBack from "../assets/Ctg_Prod/servidores_componentes/tape_backups.png";
import discoServ from "../assets/Ctg_Prod/servidores_componentes/disco_duro.png";
import memoriaServ from "../assets/Ctg_Prod/servidores_componentes/memoria.png";
---

<section id="ctg-product" class="mt-0 lg:mt-0 mb-16 flex flex-col gap-4">
    <div class="lg:h-24 2xl:mb-8 2xl:h-32 h-14 flex justify-center items-center font-bold lg:text-3xl bg-[#192855] text-[#fff]">
        <h2 class="lg:text-5xl 2xl:text-7xl text-center text-2xl font-light">Productos</h2>
    </div>

    <!------------------CTG REDES Y CONECTIVIDAD EMPRESARIAL/HOGAR------ -->
    <div class="flex  flex-col justify-center w-full">
        <div class="w-full flex justify-center mt-8 mb-6">
            <h2 class="w-[90%] lg:text-2xl 2xl:text-5xl text-lg border-b-2">Redes y Conectividad Empresarial</h2>
        </div>
        <div class="w-full flex justify-center">
            <ul class="flex lg:gap-8 gap-4 flex-wrap w-[90%] justify-center">
                <li class="lg:w-[50%] w-[80%]"><a href="" class="flex justify-center"><img src={switches.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
            </ul>
        </div>
    </div>

    <!------------------CTG EQUIPOS DE COMPUTO------ -->
    <div class="flex  flex-col justify-center w-full">
        <div class="w-full flex justify-center mt-8 mb-6">
            <h2 class="w-[90%] lg:text-2xl 2xl:text-5xl text-lg border-b-2">Equipos de Cómputo</h2>
        </div>
        <div class="w-full flex justify-center">
            <ul class="flex lg:gap-8 gap-4 flex-wrap w-[90%] justify-center">
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={laptop.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={pc.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={pda.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
            </ul>
        </div>
    </div>

    <!------------------CTG REDES Y CONECTIVIDAD HOGAR------ -->
    <div class="flex  flex-col justify-center w-full">
        <div class="w-full flex justify-center mt-8 mb-6">
            <h2 class="w-[90%] lg:text-2xl 2xl:text-5xl text-lg border-b-2">Redes y Conectividad Hogar</h2>
        </div>
        <div class="w-full flex justify-center">
            <ul class="flex lg:gap-8 gap-4 flex-wrap w-[90%] justify-center">
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={router.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={kvmSwitch.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
            </ul>
        </div>
    </div>

    <!------------------CTG SERVIDORES COMPONENTES------ -->
    <div class="flex  flex-col justify-center w-full">
        <div class="w-full flex justify-center mt-8 mb-6">
            <h2 class="w-[90%] lg:text-2xl 2xl:text-5xl text-lg border-b-2">Servidores y Componentes</h2>
        </div>
        <div class="w-full flex justify-center">
            <ul class="flex lg:gap-8 gap-4 flex-wrap w-[90%] justify-center">
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={servidor.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={gabinetes.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={tapeBack.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={discoServ.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={memoriaServ.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
            </ul>
        </div>
    </div>

    <!------------------CTG PERIFERICOS Y ACCESORIOS------ -->
    <div class="flex  flex-col justify-center w-full">
        <div class="w-full flex justify-center mt-8 mb-6">
            <h2 class="w-[90%] lg:text-2xl 2xl:text-5xl text-lg border-b-2">Periféricos y Accesorios</h2>
        </div>
        <div class="w-full flex justify-center">
            <ul class="flex lg:gap-8 gap-4 flex-wrap w-[90%] justify-center">
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={impresoras.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={camaras.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={suministrosImpre.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={baterias.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={lamparas.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={adaptadores.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
            </ul>
        </div>
    </div>

    <!------------------CTG DISP. ENTRADA Y SALIDA------ -->
    <div class="flex  flex-col justify-center w-full">
        <div class="w-full flex justify-center mt-8 mb-6">
            <h2 class="w-[90%] lg:text-2xl 2xl:text-5xl text-lg border-b-2">Disp. Entrada y Salida</h2>
        </div>
        <div class="w-full flex justify-center">
            <ul class="flex lg:gap-8 gap-4 flex-wrap w-[90%] justify-center">
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={proyector.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={scanners.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
            </ul>
        </div>
    </div>

    <!------------------CTG DISP. EQUIPOS DE PROTECCION ELECTRICA------ -->
    <div class="flex  flex-col justify-center w-full">
        <div class="w-full flex justify-center mt-8 mb-6">
            <h2 class="w-[90%] lg:text-2xl 2xl:text-5xl text-lg border-b-2">Equipos de Protección Eléctrica</h2>
        </div>
        <div class="w-full flex justify-center">
            <ul class="flex lg:gap-8 gap-4 flex-wrap w-[90%] justify-center">
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={ups.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={transformadores.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
            </ul>
        </div>
    </div>

    <!------------------CTG ALMACENAMIENTO------ -->
    <div class="flex  flex-col justify-center w-full">
        <div class="w-full flex justify-center mt-8 mb-6">
            <h2 class="w-[90%] lg:text-2xl 2xl:text-5xl text-lg border-b-2">Almacenamiento</h2>
        </div>
        <div class="w-full flex justify-center">
            <ul class="flex lg:gap-8 gap-4 flex-wrap w-[90%] justify-center">
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={discoExterno.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={discoInterno.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
            </ul>
        </div>
    </div>

    <!------------------CTG COMPONENTES HARDWARE------ -->
    <div class="flex  flex-col justify-center w-full">
        <div class="w-full flex justify-center mt-8 mb-6">
            <h2 class="w-[90%] lg:text-2xl 2xl:text-5xl text-lg border-b-2">Componentes Hardware</h2>
        </div>
        <div class="w-full flex justify-center">
            <ul class="flex lg:gap-8 gap-4 flex-wrap w-[90%] justify-center">
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={memoria_ram.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={motherboard.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={partesPc.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
            </ul>
        </div>
    </div>

    <!------------------CTG SOFTWARE------ -->
    <div class="flex  flex-col justify-center w-full">
        <div class="w-full flex justify-center mt-8 mb-6">
            <h2 class="w-[90%] lg:text-2xl 2xl:text-5xl text-lg border-b-2">Software</h2>
        </div>
        <div class="w-full flex justify-center">
            <ul class="flex lg:gap-8 gap-4 flex-wrap w-[90%] justify-center">
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={windowLog.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={adobe.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={eset.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={office.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={sql.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
                <li class="lg:w-[20%] w-[40%]"><a href=""><img src={autoDesk.src} alt="" class="border hover:shadow-2xl rounded-lg"></a></li>
            </ul>
        </div>
    </div>
</section>