---
import ctgSoftware from "../assets/Ctg_Prod/ctg_software.png";
import Layout from "../layouts/Layout.astro";
---

<section id="ctg-product" class="mt-16 mb-16 flex flex-col gap-4">
    <div class="lg:h-24 flex justify-center items-center font-bold lg:text-3xl ">
        <h2 class="text-5xl">Tienda Grupo Nec</h2>
    </div>
    <div class="flex justify-center">
        <ul class="flex flex-wrap w-full gap-4 p-2 justify-center">
            <li class="lg:w-64 w-40 "><a href=""><img src={ctgSoftware.src} alt=""></a></li>
            <li class="lg:w-64 w-40 "><a href=""><img src={ctgSoftware.src} alt=""></a></li>
            <li class="lg:w-64 w-40 "><a href=""><img src={ctgSoftware.src} alt=""></a></li>
            <li class="lg:w-64 w-40 "><a href=""><img src={ctgSoftware.src} alt=""></a></li>
            <li class="lg:w-64 w-40 "><a href=""><img src={ctgSoftware.src} alt=""></a></li>
            <li class="lg:w-64 w-40 "><a href=""><img src={ctgSoftware.src} alt=""></a></li>
            <li class="lg:w-64 w-40 "><a href=""><img src={ctgSoftware.src} alt=""></a></li>
            <li class="lg:w-64 w-40 "><a href=""><img src={ctgSoftware.src} alt=""></a></li>
        </ul>
    </div>
</section>