---
import sliderL1 from "../assets/Slider/sld1.jpg";
import sliderL2 from "../assets/Slider/sld2.jpg";
import sliderL3 from "../assets/Slider/sld3.jpg";
---

<div class="relative">
  <swiper-container navigation="true" loop="true" autoplay autoplay-delay="6000" class="w-full border-2">
    <swiper-slide class="relative">
      <a href="/"><img src={sliderL1.src} class="block lg:hidden w-full" /><img src={sliderL1.src} class="hidden lg:block hw-full" /></a>
      
    </swiper-slide>
    <swiper-slide>
      <a href="/"><img src={sliderL2.src} class="block lg:hidden w-full" /><img src={sliderL2.src} class="hidden lg:block hw-full" /></a>
    </swiper-slide>
    <swiper-slide>
      <a href="/"><img src={sliderL3.src} class="block lg:hidden w-full" /><img src={sliderL3.src} class="hidden lg:block hw-full" /></a>
    </swiper-slide>
  </swiper-container>
</div>

<script>
  import { register } from "swiper/element/bundle";
  register();
</script>
<style>
  .cotiza {
    left: 47%;
  }
  .btn-Main-cotiza:hover{
    background-color: #FC4F00;
  }
  @media(min-width: 1920px){
    .btn-Main-cotiza{
      height: 5.5rem;
      border-radius: 20px;
      font-size: 1.5rem;
    }
  }
  @media(max-width: 900px){
    .btn-Main-cotiza{
      height: 3rem;
    }
  }
</style>