---
// Soluciones.astro
import CardSolucion from '../components/CardSolucion.astro';
import repEquipos from "../assets/Soluciones/reparacionEquipos.png";
import cableadoRed from "../assets/Soluciones/cableadoRed.png";
import licSoftware from "../assets/Soluciones/licenciaSoftware.png";
import installCam from "../assets/Soluciones/instCamaras.png";
import servidores from "../assets/Soluciones/serServidores.png";
import seguridadInfo from "../assets/Soluciones/seguridadInf.png";

const soluciones = [
  {
    imgSrc: repEquipos.src,
    title: "Reparación de Equipos",
    descriptions: ["Descripción 1", "Descripción 2", "Descripción 3"],
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Reparación%20de%20Equipos"
  },
  {
    imgSrc: cableadoRed.src,
    title: "Cableado de Red",
    descriptions: ["Descripción 1", "Descripción 2", "Descripción 3"],
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Cableado%20de%20Red"
  },
  {
    imgSrc: licSoftware.src,
    title: "Licencia de Software",
    descriptions: ["Descripción 1", "Descripción 2", "Descripción 3"],
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Licencia%20de%20Software"
  },
  {
    imgSrc: installCam.src,
    title: "Instalación de Cámaras",
    descriptions: ["Descripción 1", "Descripción 2", "Descripción 3"],
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%Instalación%20de%20Cámaras"
  },
  {
    imgSrc: servidores.src,
    title: "Servidores",
    descriptions: ["Descripción 1", "Descripción 2", "Descripción 3"],
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Servicio%20de%20Servidores"
  },
  {
    imgSrc: seguridadInfo.src,
    title: "Seguridad de la Información",
    descriptions: ["Descripción 1", "Descripción 2", "Descripción 3"],
    whatsappLink: "https://wa.me/+51945046267?text=Hola,%20quiero%20más%20información%20sobre%20Seguridad%20de%20la%20Información"
  }
];
---

<section id="soluciones" class="w-full my-12">
  <div class="lg:h-24 h-14 flex justify-center items-center font-bold lg:text-3xl bg-[#192855] text-[#fff] mb-8">
    <h2 class="lg:text-5xl text-center text-2xl font-light">Soluciones</h2>
  </div>
  <div class="relative">
    <swiper-container navigation="true" loop="true" autoplay autoplay-delay="6000000" class="hidden lg:flex w-[90%] items-center">
      <swiper-slide>
        <div class="flex lg:gap-4 gap-2 w-full h-full justify-center items-center">
          <CardSolucion imgSrc={soluciones[0].imgSrc} title={soluciones[0].title} descriptions={soluciones[0].descriptions} whatsappLink={soluciones[0].whatsappLink}/>
          <CardSolucion imgSrc={soluciones[1].imgSrc} title={soluciones[1].title} descriptions={soluciones[1].descriptions} whatsappLink={soluciones[1].whatsappLink}/>
          <CardSolucion imgSrc={soluciones[2].imgSrc} title={soluciones[2].title} descriptions={soluciones[2].descriptions} whatsappLink={soluciones[2].whatsappLink}/>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="flex lg:gap-4 gap-2 w-full h-full justify-center items-center">
          <CardSolucion imgSrc={soluciones[3].imgSrc} title={soluciones[3].title} descriptions={soluciones[3].descriptions} whatsappLink={soluciones[3].whatsappLink}/>
          <CardSolucion imgSrc={soluciones[4].imgSrc} title={soluciones[4].title} descriptions={soluciones[4].descriptions} whatsappLink={soluciones[4].whatsappLink}/>
          <CardSolucion imgSrc={soluciones[5].imgSrc} title={soluciones[5].title} descriptions={soluciones[5].descriptions} whatsappLink={soluciones[5].whatsappLink}/>
        </div>
      </swiper-slide>
    </swiper-container>

    {/* Versión móvil */}
    <swiper-container navigation="true" loop="true" autoplay autoplay-delay="6000000" class="flex lg:hidden w-full items-center">
      {soluciones.map(solucion => (
        <swiper-slide>
          <div class="flex w-full h-full justify-center items-center">
            <CardSolucion imgSrc={solucion.imgSrc} title={solucion.title} descriptions={solucion.descriptions} whatsappLink={solucion.whatsappLink}/>
          </div>
        </swiper-slide>
      ))}
    </swiper-container>
  </div>

  <script>
    import { register } from "swiper/element/bundle";
    register();
  </script>
</section>
