---
// Archivo: index.astro
import Layout from "../../../layouts/Layout.astro";
import CardLiquidacion from "../../../components/CardLiquidacion.astro";
import { laptops } from "../../../data/productosData.ts";
---

<Layout title="Laptop - Grupo Nec">
  <section class="bg-[#fff] my-8">
    <div class="w-full flex flex-col">
      <div class="w-full flex justify-center mt-8 mb-6">
        <h2 class="w-[90%] lg:text-3xl text-lg border-b-2 text-[#192855] border-[#192855]">Laptop</h2>
      </div>
      <div class="flex w-full justify-center">
        <div class="grid grid-cols-1 lg:grid-cols-5 gap-4 lg:w-[90%] w-[60%] items-center justify-center">
          {laptops.map((laptopsItem) => (
            <CardLiquidacion 
              imgSrc={laptopsItem.imgSrc}
              title={laptopsItem.title}
              descriptions={laptopsItem.descriptions}
              precio={laptopsItem.precio}
              whatsappLink={laptopsItem.whatsappLink}
            />
          ))}
        </div>
      </div>
    </div>
  </section>
</Layout>
